#covid_mapa {
    width: 100%;
    margin-bottom: 10px;
  }

  #cmap-map {
    width: 100%;
    padding-top: 55%;
  }

  #cmap-ttip {
    font-size: 12px;
  }

  #cmap-title {
    text-align: center;
  }

  #cmap-legend {
    font-size: 12px;
  }


  .stylesel,
  #inp-btn {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 12px;
    padding: 3px 12px;
    margin: 1px;
    text-decoration: none;
  }

  #inp-geocode {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #666666;
    font-size: 12px;
    padding: 3px 12px;
    margin: 1px;
    text-decoration: none;
  }

  .legendcol {
    width: 130px;
    display: inline-block;
    background-image: linear-gradient(to right, #fee5d9, #a50f15);
    height: 14px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .info {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
  }